version: "3"

services:
    git-deployer-app:
        # use Dockerfile in this context repo
        build: .
        restart: always
        environment:
            FLASK_APP: "app.py"
            FLASK_ENV: "development"
        ports:
            - "5000:5000"
        volumes:
            #- /home/ocu02017/git/jira-groovy-scripts:/app/sync-repo
            - ${REPO_TO_DEPLOY}:/volume/repo
